{% extends 'base.html.twig' %}

{% block title %}Usuario{% endblock %}

{% block body %}
{% block body_class %}homepage{% endblock %}
<nav class="navbar navbar-light fixed-top" id="navbar">
  <a class="navbar-brand" href="#">
  <img src="{{asset('img/app/hometome_logo.png')}}" alt="Logo" id="logo">
  </a>
    
<a href="{{ path('home_user') }}">Volver al inicio</a>
     
</nav>
<div class="whitesmoke ml-auto mr-auto border mb-3" id="edit-form">
    <div class=" container d-flex justify-content-center">
        <div class="row">
            <span class="top-tit mt-5">Este es tu perfil</span>
            </br>
        </div>
    </div>

    <div class="m-2 d-flex justify-content-center">
        <a class="btn btn-primary"href="{{ path('perfil_user') }}">Editar</a>
          
    </div>
        <div class="m-2 d-flex justify-content-center">
          <a class="btn btn-primary"href="/editarPass">Cambiar Contraseña</a>
    </div>
    <hr class="w-50">

<div class="container">
    <div id="img-panel" class="row d-flex justify-content-center">
    <table>
        <tr>
        {% for foto in fotos %}
            <td>
                <img class="edit-img" src="{{asset('users/user'~user.id~'/'~foto.nombre)}}">
                <div class="d-flex justify-content-center">
                {{ include('app/perfil/delete_picture.html.twig') }}
                </div>
            </td>
        {% endfor %}    
        </tr>
    </table>
        
</div>
    
</div>
<div class="container mt-3">

    <h2> {{user.nombre}}</h2>
    <hr>
    <div>
        <p>{{user.descripcion}}</p>
    </div> 
    {% for pref in preferencias %}
        <div class="chip">#{{pref.nombre}} </div> 
    {% endfor %}
    <div class="row d-flex justify-content-center mb-3 mt-3">
        {{ include('app/perfil/_delete_form.html.twig') }}
    </div>
    
</div>
</div>
{% endblock %}
